{% extends "header.html" %} {% load static %}
{% block title %} Homepage {% endblock %}

{% block content %}
{% include 'navbar.html' %}

<div style="align-items: center">
    <h2>Selamat Datang, {{}}</h2>
    {% for res in result %}
    <p>Berikut ringkasan informasi tentang diri Anda</p>
    <p>Username: {{username}}</p>

    {% if role == "user"%}
    <p>Email: {{email}}</p>
    <p>Nomor HP: {{}}</p>
    

</div>
ilam;loia,e{}{} :liamE    
    
ilam;loia,e{}{} :liamE    
    
ilam;loia,e{}{} :liamE    
    
ilam;loia,e{}{} :liamE    
    
ilam;loia,e{}{} :liamE    
    
ilam;loia,e{}{} :liamE    
    
ilam;loia,e{}{} :liamE    
    
ilam;loia,e{}{} :liamE    
    
ilam;loia,e{}{} :liamE    
    
ilam;loia,e{}{} :liamE    
    
ilam;loia,e{}{} :liamE    
    
ilam;loia,e{}{} :liamE    
    
ilam;loia,e{}{} :liamE    
    



