//{% extends "header.html" %} {% load static %}
{% block title %} The Cims {% endblock %}
{% block content %}
    //{% include 'navbar.html' %}

    <div class="w-50 mx-auto text-center my-3 p-3 border border-3 border-dark">
        <h3>FORM BUAT MENGGUNAKAN BARANG</h3>
        <hr>
        <form method="POST" action="/use_item/create_new_use_item/">
            <div class="mb-3 d-flex gap-3 justify-content-center w-50 mx-auto">
                <p>Nama Tokoh: </p>
                <select id="select-data-tokoh" name="pilihan_tokoh" class="form-select h-50" onchange="getValueFromSelect()">
                    <option disabled selected>Pilih Nama Tokoh</option>
                    {% for x in result %}
                    <option value="{{ x.nama_tokoh }}">{{ x.nama_tokoh }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3 d-flex gap-3 justify-content-center w-50 mx-auto">
                <p>Barang: </p>
                <select id="select-data-item" name="pilihan_id_item" disabled class="form-select">
                    <option disabled selected>Pilih ID Barang</option>
                    {% for x in result %}
                    <option value="{{ x.id_koleksi }}">{{ x.id_koleksi }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">PAKAI</button>
        </form>
    </div>
    <script>
        $(document).ready(() => {
            $('#select-data-tokoh').css('cursor', 'pointer')
            $('#select-data-item').css('cursor', 'not-allowed')
        })
        const getValueFromSelect = () => {
            const elemen = $('#select-data-item')
            elemen.attr("disabled", "true").css('cursor', 'not-allowed')
            $.ajax({
                type: "GET",
                url: "/use_item/get_id_item",
                data: {
                    pilihan_tokoh : $('#select-data-tokoh').val()
                },
                success : data => {
                    // console.log(data.result)
                    elemen.empty().append('<option disabled selected>Pilih ID Barang</option>')

                    for (data of data.result) { elemen.append(`<option value="${data}">${data}</option>`) }
                    elemen.removeAttr("disabled").css('cursor', 'pointer')
                }
            })
        }
    </script>
{% endblock %}