<!DOCTYPE html>
<html>
	{% include "navbar_admin.html" %}
	{% load static %}
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

	    <title>SELAMAT DATANG ADMIN!</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
	    <link rel="stylesheet" href="{% static 'homepage/style.css' %}">
    	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	</head>

	<body>
		<div class="col-md-12 row container">
			<div class="col-md-12">
				<h1 class="title text-white">SELAMAT DATANG ADMIN!</h1>
				<!-- <a href="/pekerjaan"><button class="btn btn-green">PEKERJAAN</button></a> -->
				<a href="{% url 'kategori_apparel:kategori_apparel' %}"><button class="btn btn-green">KATEGORI APPAREL</button></a>
				<a href="{% url 'kategori_apparel:c_kategori_apparel' %}"><button class="btn btn-green">CREATE KATEGORI APPAREL</button></a>
				<a href="{% url 'koleksi:koleksi' %}"><button class="btn btn-green">KOLEKSI</button></a>
				<a href="{% url 'koleksi:c_koleksi' %}"><button class="btn btn-green">CREATE KOLEKSI</button></a>
				<a href="{% url 'koleksi_tokoh:koleksi_tokoh' %}"><button class="btn btn-green">KOLEKSI TOKOH</button></a>
				<a href="{% url 'koleksi_tokoh:c_koleksi_tokoh' %}"><button class="btn btn-green">CREATE KOLEKSI TOKOH</button></a>
			</div>
		</div>
	</body>
</html>
