<!DOCTYPE html>
<html>
	{% include "navbar_pemain.html" %}
	{% load static %}
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

	    <title>SELAMAT DATANG PEMAIN!</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
	    <link rel="stylesheet" href="{% static 'homepage/style.css' %}">
    	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	</head>

	<body>
		<div class="col-md-12 row container">
			<div class="col-md-6">
				<h1 class="title text-white">SELAMAT DATANG PEMAIN!</h1>
				<div>
					<h3>Hello {{ request.session.username }} 🤙😊</h1>
					<h5>Berikut adalah informasi mengenai diri kamu</h5>
					<h5>Username: {{ request.session.username }}</h5>
					<h5>Email: {{ request.session.email }}</h5>
					<h5>Nomor HP: {{ request.session.no_hp }}</h5>
					<h5>Koin: {{ request.session.koin }}</h5>
				</div>
			</div>
		</div>
	</body>
</html>
