{% extends "header.html" %} {% load static %}
{% block title %} The Cims {% endblock %}
{% block content %}
    {% include 'navbar.html' %}

    <div class="w-50 mx-auto text-center my-3 p-3 border border-3 border-dark">
        <h3>FORM BUAT PEKERJAAN</h3>
        <hr>
        <form method="POST" action="/pekerjaan/create_pekerjaan_baru/">
            <div class="mb-3 d-flex justify-content-center">
                <label for="newjob" class="form-label px-3">Nama Pekerjaan </label>
                <input type="text" class="form-control w-75 h-25" name="pekerjaan_baru"
                    id="pekerjaan_baru" required placeholder="Masukkan Nama Pekerjaan" />
            </div>
            <div class="mb-3 d-flex justify-content-center">
                <label for="honor" class="form-label px-3">Base Honor </label>
                <input type="number" class="form-control w-75 h-25" name="base_honor_baru"
                    id="honor_baru" required placeholder="Masukkan Base Honor Pekerjaan" />
            </div>

            <button type="submit" class="btn btn-primary">SIMPAN</button>
        </form>
    </div>
{% endblock %}