<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">The Cims</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <!-- Home -->
                <li class="navbar">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <!-- Tokoh -->
                <li class="navbar dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Tokoh
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/">Tabel Tokoh</a></li>
                        <li><a class="dropdown-item" href="#">Create Warna Kulit</a></li>
                        <li><a class="dropdown-item" href="#">Create Warna Kulit</a></li>
                        <li><a class="dropdown-item" href="#">Buat Level</a></li>
                        <li><a class="dropdown-item" href="#">Tabel Level</a></li>
                    </ul>
                </li>

                <!-- Koleksi -->
                <li class="navbar dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Koleksi
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Buat Koleksi</a></li>
                        <li><a class="dropdown-item" href="#">Tabel Koleksi</a></li>
                        <li><a class="dropdown-item" href="#">Buat Kategori Apparel</a></li>
                        <li><a class="dropdown-item" href="#">Tabel Kategori Apparel</a></li>
                        <li><a class="dropdown-item" href="#">Tabel Koleksi Tokoh</a></li>
                    </ul>
                </li>

                <!-- Penggunaan -->
                <li class="navbar dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Penggunaan
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Tabel Menggunakan Apparel</a></li>
                        <li><a class="dropdown-item" href="#">Tabel Menggunakan Barang</a></li>
                    </ul>
                </li>

                <!-- Pekerjaan -->
                <li class="navbar dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Pekerjaan
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Create Pekerjaan</a></li>
                        <li><a class="dropdown-item" href="/">Tabel Pekerjaan</a></li>
                        <li><a class="dropdown-item" href="#">Tabel Bekerja</a></li>
                    </ul>
                </li>

                <!-- Misi -->
                <li class="navbar dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Misi
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Buat Misi Utama</a></li>
                        <li><a class="dropdown-item" href="#">Tabel Misi Utama</a></li>
                        <li><a class="dropdown-item" href="#">Tabel Menjalankan Misi Utama</a></li>
                    </ul>
                </li>

                <!-- Makan -->
                <li class="navbar dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Makan
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Buat Makanan</a></li>
                        <li><a class="dropdown-item" href="#">Tabel Makanan</a></li>
                        <li><a class="dropdown-item" href="#">Tabel Makan</a></li>
                    </ul>
                </li>

            </ul>
            <!-- Logout -->
            <div class="d-flex">
                <a class="link-light" href="" style="text-decoration: none">Logout</a>
            </div>
        </div>
    </div>
</nav>